body{
    background: #ee0058;
    font-family: "Raleway";
}
.center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.form{
    width: 280px;
}
.form .form-element{
    position: relative;
}
.form .form-element  input{
    width:100%;
    padding:10px;
    font-size:18px;
    border:1px solid #888;
    background: #f5f5f5;
    border-radius: 50px;
    outline:none;
    text-indent:10px;
}

.form  .form-element  .toggle-password{
    position:absolute;
    width:40px;
    background: red;
    top:2px;
    right:2px;
    border-radius: 50%;
    text-align:center;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}